@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "chillax";
    src: url("https://d1jwplf6mvpxl3.cloudfront.net/fonts/Chillax-Variable.ttf");
}
@font-face {
    font-family: "satoshi";
    src: url("https://d1jwplf6mvpxl3.cloudfront.net/fonts/Satoshi-Variable.ttf");
}

.p-icon{
    width: 24px;
    height: 24px;
    color: white;
}

.carousel-button-left-spacing {
    left: calc(50% - 150px);
}

.carousel-button-right-spacing {
    right: calc(50% - 150px);
}

@media (max-width: 576px) {
    .sm\:carousel-button-left-spacing {
        left: calc(50% - 125px);
    }

    .sm\:carousel-button-right-spacing {
        right: calc(50% - 125px);
    }
}

@media (min-width: 1024px) {
    .lg\:carousel-button-left-spacing {
        left: calc(50% - 105px);
    }

    .lg\:carousel-button-right-spacing {
        right: calc(50% - 105px);
    }
}

@media (min-width: 1280px) {
    .xl\:carousel-button-left-spacing {
        left: calc(50% - 125px);
    }

    .xl\:carousel-button-right-spacing {
        right: calc(50% - 125px);
    }
}

.drop-shadow-purple {
    filter: drop-shadow(0 0.3rem 0.5rem rgba(109, 53, 163, 0.5));
}

.drop-shadow-purple-mid{
    filter: drop-shadow(0 0.7rem 0.5rem rgba(109, 53, 163, 1));
}

.drop-shadow-purple-strong {
    filter: drop-shadow(0rem 0rem 0.1rem rgba(109, 53, 163, 0.5)) drop-shadow(0rem 0rem 0.1rem rgba(109, 53, 163, 0.5)) drop-shadow(0rem 0rem 0.1rem rgba(109, 53, 163, 0.5));
}


/* Seu CSS global ou específico do componente */
.card, .header-content, .section {
  position: relative;
  z-index: 1; /* Isso fará com que eles fiquem acima das bolas */
}

.bubbles {
  z-index: 0; /* Isso fará com que as bolas fiquem atrás */
}

html, body {
    background-color: #5A189A;
}

body {
    overflow-x: hidden;
}